<a href="https://colab.research.google.com/github/kyeonghwanyeom/HYMOT/blob/main/9%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
number_list = []
number_list.append(1)
number_list.append(2)
number_list.append(3)
number_list.append(4)
number_list.append(5)

In [ ]:
number_list = []
for number in range(1, 6):
    number_list.append(number)

In [ ]:
number_list

[1, 2, 3, 4, 5]

In [ ]:
number_list = [number-1 for number in range(1,6)]
number_list

[0, 1, 2, 3, 4]

In [ ]:
a_list = [number for number in range(1,6) if number % 2 == 1]
a_list

[1, 3, 5]

In [ ]:
a_list = []
for number in range(1,6):
  if number%2 == 1:
    a_list.append(number)
a_list

[1, 3, 5]

In [ ]:
sentence = ['I', 'Love', 'Python', 'Soooooo', 'MUCH!!!']

In [ ]:
[word.lower() for word in sentence]

['i', 'love', 'python', 'soooooo', 'much!!!']

In [ ]:
[word for word in sentence if len(word) > 6]

['Soooooo', 'MUCH!!!']

In [ ]:
[(x, x ** 2, x ** 3) for x in range(10)]

[(0, 0, 0),
 (1, 1, 1),
 (2, 4, 8),
 (3, 9, 27),
 (4, 16, 64),
 (5, 25, 125),
 (6, 36, 216),
 (7, 49, 343),
 (8, 64, 512),
 (9, 81, 729)]

In [ ]:
rows = range(1,4)
cols = range(1,3)
for row in rows:
  for col in cols:
    print(row, col)

1 1
1 2
2 1
2 2
3 1
3 2

In [ ]:
rows = range(1,4)
cols = range(1,3)
cells = [(row, col) for row in rows for col in cols]
for cell in cells:
  print(cell)

(1, 1)
(1, 2)
(2, 1)
(2, 2)
(3, 1)
(3, 2)

In [ ]:
[(i,j) for i in range(5) for j in range(i)]

[(1, 0),
 (2, 0),
 (2, 1),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

In [ ]:
word = 'letters'
letter_counts= {letter: word.count(letter) for letter in word}
letter_counts

{'l': 1, 'e': 2, 't': 2, 'r': 1, 's': 1}

In [ ]:
word = 'letters'
letter_counts= {letter: word.count(letter) for letter in set(word)}
letter_counts

{'l': 1, 'r': 1, 's': 1, 'e': 2, 't': 2}

In [ ]:
a_set = {number for number in range(1,6) if number % 3 == 1}
a_set

{1, 4}

In [ ]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['banana', 'orange', 'peach']
drinks = ['coffee', 'tea', 'beer']
desserts = ['tiramisu', 'ice cream', 'pie', 'pudding']
for day, fruit, drink, dessert in zip(days, fruits, drinks, desserts):
  print(day, ": drink", drink, "- eat", fruit, "- enjoy", dessert)

Monday : drink coffee - eat banana - enjoy tiramisu
Tuesday : drink tea - eat orange - enjoy ice cream
Wednesday : drink beer - eat peach - enjoy pie

In [ ]:
english= 'Monday', 'Tuesday', 'Wednesday'
french= 'Lundi', 'Mardi', 'Mercredi'
list( zip(english, french) )

[('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('Wednesday', 'Mercredi')]

In [ ]:
dict( zip(english, french) )

{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

In [ ]:
def menu(wine, entree, dessert):
  return {'wine': wine, 'entree': entree, 'dessert': dessert}

In [ ]:
menu('chardonnay', 'chicken', 'cake')

{'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'cake'}

In [ ]:
def menu(wine, entree, dessert):
  return {'wine': wine, 'entree': entree, 'dessert': dessert}

In [ ]:
menu(entree='beef', dessert='bagel', wine='bordeaux')

{'wine': 'bordeaux', 'entree': 'beef', 'dessert': 'bagel'}

In [ ]:
menu('frontenac', dessert='flan', entree='fish')

{'wine': 'frontenac', 'entree': 'fish', 'dessert': 'flan'}

In [ ]:
def menu(wine, entree, dessert='pudding'):
  return {'wine': wine, 'entree': entree, 'dessert': dessert}

In [ ]:
menu('chardonnay', 'chicken')

{'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}

In [ ]:
menu('dunkelfelder', 'duck', 'doughnut')

{'wine': 'dunkelfelder', 'entree': 'duck', 'dessert': 'doughnut'}

In [ ]:
def menu(price, wine='chardonnay', entree='chicken', dessert='pudding'):
  return {'price': price, 'wine': wine, 'entree': entree, 'dessert': dessert}

In [ ]:
menu(price=100)

{'price': 100, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}

In [ ]:
def menu(price, wine='chardonnay', entree='chicken’, dessert=‘pudding'):
  return {'price': price, 'wine': wine, 'entree': entree, 'dessert': dessert}

In [ ]:
menu(price=100, 'saint-pierre')

SyntaxError: positional argument follows keyword argument (<ipython-input-41-2276001416>, line 1)

In [ ]:
def echo(anything):
  'echo returns its input argument'
  return anything

In [ ]:
def print_if_true(thing, check):
  """ Prints the first argument if a second argument is true. The operation is:"""
  if check:
    print(thing)